[submodule "files/oc-integration"]
	path = files/oc-integration
	url = git@github.com:elan-ev/opencast-bigbluebutton-integration.git
[submodule "files/opencast-bigbluebutton-integration"]
	path = files/opencast-bigbluebutton-integration
	url = git@github.com:elan-ev/opencast-bigbluebutton-integration.git
